<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>찜목록</h1>
<a href="/myPage/myLike?pageNUM=1&category=accommo">숙박</a>
<a href="/myPage/myLike?pageNUM=1&category=accommo">음식점</a>
<a href="/myPage/myLike?pageNUM=1&category=accommo">관광지</a>
<a href="/myPage/myLike?pageNUM=1&category=accommo">렌트카</a>
<div th:each="l:${list}" class="list">
	<a th:href=${l.link}><img th:src="${l.photopath}" width=300 height= 300></a><br>
	<span th:text=${l.name}></span>
</div>

<th:block th:each="i:${#numbers.sequence(1,totalPage)}">
		<a th:text="${i}" th:href="'/myPage/myLike?pageNUM='+${i}+'&category='+${category}"></a>
</th:block>
</body>
</html>