<!DOCTYPE html>
<html>
<head>
<style type="text/css">
	#menubar_nav{
		height:600px;
		width:300px;
	}

	.mymenu>li{
		list-style: none;
		line-height: 100px;
		font-size:30px;
		text-align:center;
		
		
	}
	
	.mymenu>a{
		text-decoration:none;
		color:black;
	}
	
</style>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://kit.fontawesome.com/bb9544ccb9.js" crossorigin="anonymous"></script>
</head>
<body>
<nav id = "menubar_nav">
	<ul class="mymenu">
		<li>
			<a href="/myPage/myReservation?pageNUM=1">예약</a>
		</li>
		
		<li>
			<a href="/myPage/myInquiry?pageNUM=1">문의</a>
		</li>
		
		<li>
			<a href="/myPage/myLike?pageNUM=1&category=accommo">찜목록</a>
		</li>
		
		<li>
			<a href="/myPage/myPoint?pageNUM=1">포인트</a>
		</li>
	    <li>
	    	<a href="/myPage/updateMyInfo">회원정보수정</a>
	    </li>
	  
	</ul>
</nav>
</body>
</html>