<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
	.unshow{
		display: none;
	}
	.show{
		display: inline;
	}
	
	#btn_detail{
  		position: absolute;
  		left:1250px;
  		top:300px;
  	}
  	
  	.grey{
  		color:grey;
  	}

</style>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.3/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <!-- jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
  <!-- iamport.payment.js -->
  <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
  <script type="text/javascript">
	$(function(){
		
		$("#btn_detail").click(function(){
			var className=$("#store_detail").attr("class")
			
			if(className == "show"){
				$("#store_detail").removeClass("show");
				$("#store_detail").addClass("unshow")
			}else{
				$("#store_detail").removeClass("unshow");
				$("#store_detail").addClass("show")
			}
		})

		
		// 찜하기
		$("#like").click(function(){
			$("#like").addClass("unshow");
			$("#like").removeClass("show");
			$("#unlike").addClass("show");
			$("#unlike").removeClass("unshow");
		})
		
		// 찜해제
		$("#unlike").click(function(){
			$("#like").addClass("show");
			$("#like").removeClass("unshow");
			$("#unlike").addClass("unshow");
			$("#unlike").removeClass("show");
		})
	}) 
  </script>
  
</head>
<body>
	<!-- 헤더 -->
	<div class="container">
    <div th:insert="/main/Header.html"></div>
	


	<!-- 정보 -->
	<br>
	<br>
	<br>
	<div>
		<h2>차량 정보</h2>
		<th:block th:if="${session.loginM !=null}">
			<th:block th:if="${role}!='admin'">
				<th:block th:if="${status}=='ok'">
					<button id="unlike" th:onclick="|location.href='@{/rentcar/unlike(carNo=${detail.carNo})}'|">찜해제</button>
				</th:block>
				<th:block th:unless="${status}=='ok'">
					<button id="like" th:onclick="|location.href='@{/rentcar/like(carNo=${detail.carNo})}'|">찜하기</button>
				</th:block>
			</th:block>
			<th:block th:unless="${role}!='admin'">
				<button th:onclick="|location.href='@{/admin/rentcar/update(carNo=${detail.carNo})}'|">렌트카 수정</button>
			</th:block>
		</th:block>
		<hr>
		<input type="hidden" th:value="${detail.carNo}" id="carNo">
		<h3>차량명</h3>
		<h5 class="grey" th:text="${detail.modelName}"></h5>
		<h3>차량 사진</h3>
		<img th:src="${detail.realPath}">
		<h3>분류</h3>
		<h5 class="grey" th:text="${detail.category}"></h5>
		<h3>가격</h3>
		<h5 class="grey" th:text="${detail.price}+원" id="price"></h5>
	</div>
	<hr>
	<button id="btn_detail">업체 정보</button>
	<table width="50%" id="store_detail" class="unshow">
		<thead>
			<tr>
				<th>업체 이름</th>
				<th>업체 주소</th>
				<th>업체 번호</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="s:${rentstore}">
				<tr>
					<td th:text="${s.name}"></td>
					<td th:text="${s.addr}"></td>
					<td th:text="${s.phone}"></td>
				</tr>
			</th:block>
		</tbody>		
	</table>
	<br>
	<button onclick="location.href='/rentcar/main'"> 돌아가기</button>
	</div>
	<br>
	<div th:insert="/main/Footer.html"></div>
	
</body>
</html>