<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">
  <insert id="insert" parameterType="memberVO">
  	insert into tbl_member(memberno,id,pwd,name,jumin,addr,postcode,email,phone,point,role,mbti,roulettecount) values(seq_member.nextval,#{id},#{pwd},#{name},#{jumin},#{addr},#{postcode},#{email},#{phone},0,'user',#{mbti,jdbcType=VARCHAR},1)
  </insert>
  <select id="id_chk" resultType="Integer">
	select count(*) from tbl_member where id = #{id} 
  </select>
  
  <select id="findById" resultType="memberVO">
  	select * from tbl_member where id = #{id}
  </select>
  
  
  <select id="findId" resultType="memberVO">
  	select * from tbl_member where name = #{name} and email=#{email}
  </select>
  
  <update id="changePwd" parameterType="hashMap">
  	update tbl_member set pwd = #{pwd} where id = #{id}
  </update>
</mapper>