<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rentcar">

	<select id="findPopularCar" resultType="Integer">
		select carno from tbl_rentcar group by carno order by avg(stars) desc fetch first 5 rows only
	</select>
	
	<select id="findSameStarCar" resultType="Integer">
		select carno from tbl_rentcar group by carno having avg(stars)=(select avg(stars) from tbl_rentcar where carno=#{carno})
	</select>
	
	<select id="findByCarno" resultType="rentcarVO">
		select * from tbl_car where carno=#{carno}
	</select>
	
	<select id="findRentByCarno" resultType="String">
		select distinct(name) from tbl_rentcar where carno=#{carno}
	</select>	
	
	<select id="findRentInfoByStorename" resultType="rentcarVO">
		select * from tbl_rentcar where name=#{name} fetch first 1 rows only
	</select>
	
	<select id="findStoreInfo" resultType="rentcarVO">
		select * from tbl_rentcar r, tbl_car c where r.carno = c.carno and c.carno=#{carno}
	</select>
	
	<update id="updateById" parameterType="rentcarVO">
		update tbl_car set modelname=#{modelName}, photopath=#{photoPath}, category=#{category}, price=#{price} where carno=#{carNo}
	</update>
	  
	<delete id="deleteById" parameterType="Integer">
		delete tbl_car where carno=#{carno}
	</delete>
	
	<select id="searchC" resultType="rentcarVO">
		select carno,modelname,photopath,category,price from (
		select a.*, rownum n from (select * from tbl_car where category=#{category})a)
		 where n between #{start} and #{end}
	</select>
	
	<select id="countC" resultType="Integer">
		select count(*) from tbl_car where category=#{category}
	</select>
	
	<select id="searchName" resultType="rentcarVO">
		select carno,modelname,category,price from(
		select a.*, rownum n from (select * from tbl_car where lower(modelname) like lower('%'||#{keyword}||'%'))a
		) where n between #{start} and #{end}
	</select>
	
	<select id="countName" resultType="Integer">
		select count(*) from tbl_car where lower(modelname) like '%'||#{keyword}||'%'
	</select>
	
	<select id="searchCatAndName" resultType="rentcarVO">
		select carno,modelname,photopath,category,price from(
		select a.*, rownum n from (select * from tbl_car where lower(modelname) like '%'||#{keyword}||'%' 
		<if test="category !=null and !category.equals('') ">
			and category=#{category}
		</if>
		)a
		) where n between #{start} and #{end} 
	</select>
	
	<select id="countCatAndName" resultType="Integer">
		select count(*) from tbl_car where lower(modelname) like '%'||#{keyword}||'%'
		<if test="category!=null and !category.equals('')">
			and category=#{category}
		</if>
	</select>
	
</mapper>

