<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restaurantPhoto">
  <select id="findPCnt" resultType="java.lang.Integer" parameterType="restaurantPhotoVO">
  	SELECT COUNT(apNo) FROM TBL_RESTAURANTPHOTO WHERE RESTAUNO = #{restauNo}
  </select>
  
  <update id="updatePhoto" parameterType="restaurantPhotoVO">
  	UPDATE TBL_RESTAURANTPHOTO SET PATH = #{PATH} WHERE RESTAUNO = #{restauNo} AND APNO = #{apNo}
  </update>
  
  <insert id="insertPhoto" parameterType="restaurantPhotoVO">
  	INSERT INTO TBL_RESTAURANTPHOTO(RPNO, RESTAUNO, PATH, ORDERS) 
  	VALUES (SEQ_RESTPHOTO.NEXTVAL, #{restauNo}, #{path}, #{orders})
  </insert>
</mapper>


