<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="restau">
  <!-- restauNo로 검색하기 -->
  <select id="findById" resultType="restaurantVO" parameterType="java.lang.Integer">
  	SELECT * FROM TBL_RESTAURANT WHERE RESTAUNO = #{restauNo}
  </select>
  
  <!-- restauNo로 카운트 검색 -->
  <select id="findCountById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	SELECT COUNT(*) FROM TBL_RESTAURANT WHERE RESTAUNO = #{restauNo}
  </select>

  <!-- 카테고리로 검색하기 -->
  <select id="findByCategory" resultType="restaurantVO" parameterType="java.lang.String">
  	SELECT * FROM (
  	SELECT T.*, ROWNUM RN
  	FROM TBL_RESTAURANT T
  	WHERE CATEGORY LIKE '%${keyword}%'
	)
	WHERE RN BETWEEN ${start} AND ${end}
  </select>
  
  <!-- 카테고리로 카운트 검색 -->
  <select id="findCountByCategory" resultType="java.lang.Integer" parameterType="java.lang.String">
  	SELECT COUNT(*) FROM TBL_RESTAURANT WHERE CATEGORY LIKE '%${keyword}%'
  </select>
  
  <!-- 아무검색어로 검색하기 -->
  <select id="findByAny" resultType="restaurantVO">
  	SELECT *FROM (
  	SELECT T.*, ROWNUM RN
  	FROM TBL_RESTAURANT T
  	WHERE CATEGORY LIKE '%${keyword}%'
    OR ADDR LIKE '%${keyword}%'
    OR NAME LIKE '%${keyword}%'
	)
	WHERE RN BETWEEN ${start} AND ${end}
  </select>
  
  <!-- 상세검색 -->
  <select id="detailSearch" resultType="restaurantVO">
  	SELECT *
	FROM (
	  	SELECT T.*, ROWNUM RN
	  	FROM TBL_RESTAURANT T
	  	WHERE 
	  	CATEGORY LIKE '%${dscategory}%'
	    OR ADDR LIKE '%${dskeyword}%'
	    OR NAME LIKE '%${dskeyword}%'
	)
	WHERE RN BETWEEN ${start} AND ${end}
  </select>
  
  <select id="findCountBydetailSearch" resultType="java.lang.Integer">
  	SELECT COUNT(*)
	FROM TBL_RESTAURANT
	WHERE 
	CATEGORY LIKE '%${dscategory}%'
	OR ADDR LIKE '%${dskeyword}%'
	OR NAME LIKE '%${dskeyword}%'
  </select>
  
  <!-- 아무검색어로 카운트 검색 -->
  <select id="findCountByAny" resultType="java.lang.Integer" parameterType="java.lang.String">
  	SELECT COUNT(*) FROM TBL_RESTAURANT WHERE CATEGORY LIKE '%${keyword}%' 
  	OR ADDR LIKE '%${keyword}%'
  	OR NAME LIKE '%${keyword}%'
  </select>
  
  <!-- 사진 순서(Orders)대로 가져오기  -->
  <select id="findAllPhotoById" resultType="restaurantVO" parameterType="java.lang.Integer">
  	SELECT 
  	R.RESTAUNO, R.NAME, R.ADDR, R.PHONE, R.CATEGORY, 
  	P.RPNO, P.PATH, P.ORDERS
  	FROM TBL_RESTAURANT R, TBL_RESTAURANTPHOTO P
  	WHERE R.RESTAUNO = P.RESTAUNO AND R.RESTAUNO = #{restauNo}
  	ORDER BY P.ORDERS
  </select>
  
  <!-- 정보 수정 -->
  <update id="updateById" parameterType="restaurantVO">
  	UPDATE TBL_RESTAURANT SET ADDR = #{addr}, PHONE = #{phone} WHERE RESTAUNO = #{restauNo}
  </update>
  
  <!-- 삭제 -->
  <delete id="deleteById" parameterType="java.lang.Integer">
  	DELETE TBL_RESTAURANT WHERE RESTAUNO = #{restauNo}
  </delete>
  
</mapper>

