<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="accommo">
  <!-- accommoNo로 검색하기 -->
  <select id="findById" resultType="accommoVO" parameterType="java.lang.Integer">
  	SELECT * FROM TBL_ACCOMMODATION WHERE ACCOMMONO = #{accommoNo}
  </select>
  
  <!-- accommoNo로 카운트 검색 -->
  <select id="findCountById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	SELECT COUNT(*) FROM TBL_ACCOMMODATION WHERE ACCOMMONO = #{accommoNo}
  </select>

  <!-- 카테고리로 검색하기 -->
  <select id="findByCategory" resultType="accommoVO" parameterType="java.lang.String">
  	SELECT * FROM (
  	SELECT T.*, ROWNUM RN
  	FROM TBL_ACCOMMODATION T
  	WHERE CATEGORY LIKE '%${keyword}%'
	)
	WHERE RN BETWEEN ${start} AND ${end}
  </select>
  
  <!-- 카테고리로 카운트 검색 -->
  <select id="findCountByCategory" resultType="java.lang.Integer" parameterType="java.lang.String">
  	SELECT COUNT(*) FROM TBL_ACCOMMODATION WHERE CATEGORY LIKE '%${keyword}%'
  </select>
  
  <!-- 아무검색어로 검색하기 -->
  <select id="findByAny" resultType="accommoVO">
  	SELECT *FROM (
  	SELECT T.*, ROWNUM RN
  	FROM TBL_ACCOMMODATION T
  	WHERE CATEGORY LIKE '%${keyword}%'
    OR ADDR LIKE '%${keyword}%'
    OR NAME LIKE '%${keyword}%'
	)
	WHERE RN BETWEEN ${start} AND ${end}
  </select>
  
  <!-- 상세검색 -->
  <select id="detailSearch" resultType="accommoVO">
  	SELECT *
	FROM (
	  	SELECT T.*, ROWNUM RN
	  	FROM (
	  		SELECT * FROM TBL_ACCOMMODATION
			ORDER BY PRICE
		) T
	  	WHERE
	    PRICE BETWEEN ${minPrice} AND ${maxPrice}
	    AND CATEGORY LIKE '%${dscategory}%'
	    
	)
	WHERE RN BETWEEN ${start} AND ${end}
  </select>
  
  <select id="findCountBydetailSearch" resultType="java.lang.Integer">
  	SELECT COUNT(*)
	FROM TBL_ACCOMMODATION
	WHERE PRICE BETWEEN ${minPrice} AND ${maxPrice}
	AND CATEGORY LIKE '%${dscategory}%'

  </select>
  
  <!-- 아무검색어로 카운트 검색 -->
  <select id="findCountByAny" resultType="java.lang.Integer" parameterType="java.lang.String">
  	SELECT COUNT(*) FROM TBL_ACCOMMODATION WHERE CATEGORY LIKE '%${keyword}%' 
  	OR ADDR LIKE '%${keyword}%'
  	OR NAME LIKE '%${keyword}%'
  </select>
  
  <!-- 사진 순서(Orders)대로 가져오기  -->
  <select id="findAllPhotoById" resultType="accommoVO" parameterType="java.lang.Integer">
  	SELECT 
  	A.ACCOMMONO, A.NAME, A.ADDR, A.PHONE, A.PRICE, A.CATEGORY, 
  	P.APNO, P.PATH, P.ORDERS
  	FROM TBL_ACCOMMODATION A, TBL_ACCOMMOPHOTO P
  	WHERE A.ACCOMMONO = P.ACCOMMONO AND A.ACCOMMONO = #{accommoNo}
  	ORDER BY P.ORDERS
  </select>
  
  <!-- 정보 수정 -->
  <update id="updateById" parameterType="accommoVO">
  	UPDATE TBL_ACCOMMODATION SET ADDR = #{addr}, PHONE = #{phone}, PRICE = #{price} WHERE ACCOMMONO = #{accommoNo}
  </update>
  
  <!-- 삭제 -->
  <delete id="deleteById" parameterType="java.lang.Integer">
  	DELETE TBL_ACCOMMODATION WHERE ACCOMMONO = #{accommoNo}
  </delete>
  
</mapper>

