<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="reservation">
  <!-- 결제 정보 insert -->
  <insert id="makeReservation" parameterType="reservationVO">
  	INSERT INTO TBL_RESERVATION(IMP_UID, MEMBERNO, ACCOMMONO, TOTALPRICE, DATE_S, DATE_E, HEADCOUNT) 
  	VALUES (#{imp_uid}, #{memberNo}, #{accommoNo}, #{totalPrice},
  	TO_DATE(#{date_s}, 'YYYY-MM-DD'), TO_DATE(#{date_e}, 'YYYY-MM-DD'), #{headCount})
  </insert>
  
</mapper>

