<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<!-- BootStrap -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Restaurant</title>
<!-- BootStrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<!-- JQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
	$(function(){
		/* 검색 버튼 클릭 */
		$("#btn_search").click(function(e){
			e.preventDefault();
			$("#form_search").submit();
		})
		
		$("#btn_korean").click(function(){
			location.href="/restau/searchC?pageNum=1&keyword=한식";
		})
		$("#btn_western").click(function(){
			location.href="/restau/searchC?pageNum=1&keyword=서양식";
		})
		$("#btn_japanese").click(function(){
			location.href="/restau/searchC?pageNum=1&keyword=일식";
		})
		$("#btn_china").click(function(){
			location.href="/restau/searchC?pageNum=1&keyword=중식";
		})
		
		/* 인기 관광지 상세이동 */
		$(document).on("click",".text-bg-white",function(){
			var restauNo = $(this).attr("restauNo");
			location.href="/restau/detail?restauNo="+restauNo;
		});
	})
</script>
</head>
<body>

	<!-- 헤더 -->
    <div th:insert="/main/Header.html"></div>
    
	<!-- BootStrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	<br>
	
	<!-- 검색기능 -->
	<hr>
	<div>
		<form action="/restau/main/search" id="form_search" method="get">
			<input type="hidden" name="pageNum" value="1">
			검색어 : <input type="text" name="keyword">
			<select name="category">
				<option value="0">카테고리</option>
				<option value="1">카테고리1</option>
				<option value="2">카테고리2</option>
				<option value="3">카테고리3</option>
			</select>
			<input type="button" id="btn_search" value="검색" class="btn btn-primary">
		</form>
	</div>
	<hr>
	
	<!-- Test -->
	<!-- <th:block th:if="${realPath != null}">
		<img th:src="|/${realPath}|" width="600">
	</th:block> -->
	
	<!-- 카테고리별 검색 버튼 -->
	<hr>
	<div>
		<h3>식당 종류</h3>
		<button type="button" class="btn_image" id="btn_korean" style="width: 530px;height: 55px;"><img  src="/photo/Restaurant/Main/korean.jpg" width="60px" height="50px"></button>
		<button type="button" class="btn_image" id="btn_western" style="width: 530px;height: 55px;"><img  src="/photo/Restaurant/Main/western.jpg" width="90px"></button>
		<button type="button" class="btn_image" id="btn_japanese" style="width: 530px;height: 55px;"><img  src="/photo/Restaurant/Main/japanese.jpg" width="90px"height="50px"></button>
		<button type="button" class="btn_image" id="btn_china" style="width: 530px;height: 55px;"><img  src="/photo/Restaurant/Main/china.jpg" width="90px"height="50px"></button>
	</div>
	<hr>
	
	<!-- 현재 인기 숙소 -->
	<hr>
	
		<h3>인기 식당</h3>
		
		<div class="card-group">
			<th:block th:each="a: ${restau_list}">
				<div class="card text-bg-white" id="img_mostLike" th:restauNo="${a.restauNo}">
				  <img th:src="|/${a.realPath}|" th:class="card-img" height="350">
				  <div class="card-img-overlay">
				    <h5 class="card-title" th:text="${a.name}"></h5>
				    <p class="card-text" th:text="${a.addr}"></p>
				    <p class="card-text"><small th:text="${a.phone}"></small></p>
				  </div>
				</div>
			</th:block>
		</div>
	
	<hr>
</body>
</html>