<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	footer{
		font-family: 'Jua', sans-serif;
	}

</style>
</head>
<body>
	<footer class="footer pt-3 text-dark" style="background-color: #F89b00;">
        <div class="container mb-4 py-4 pb-lg-5">
            <div class="row ">
                <div class="col-4" style="position: relative;  top: -10px; ">
                    <a class="d-inline-block" style="margin-bottom: 25px"href="#"><img src="/main/logo.png" width="150" alt="" ></a>
                    <div class="nav-link-light" style="font-size:20px; margin-right:70px;">제주 여행정보 플랫폼 ,<br>제주다컴에 오신 것을 환영합니다.</div>
                </div>
                <!-- Links-->
                <div class="col-3">
                    <h3 class="fs-base text-dark">MEMBER</h3>
                    <ul class="list-unstyled fs-sm">
                        <li class="nav-link-light"> <span>이호형</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>김영빈</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>권현욱</span></li>
                        <li class="nav-link-light"> <span>정선현</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>이정화</span>&nbsp;&nbsp;&nbsp;&nbsp;<span>문현빈</span></li>

                    </ul>
                </div>
                <!-- Links-->
                <div class="col-3">
                    <h3 class="fs-base text-dark">INSTITUTION</h3>
                    <ul class="list-unstyled fs-sm">
                        <li class="nav-link-light"> 쌍용강북교육센터</li>
                        <li class="nav-link-light"> Call 02-336-8546~8</li>
                        <li class="nav-link-light"> www.sist.co.kr</li>
                    </ul>
                </div>
                <!-- Subscription form-->
                <div class="col-2">
                    <h3 class="fs-base text-dark" style="margin-bottom:7px">OPEN SOURCE</h3>
                      <img src="/footer/공공데이터포털.png" class="my-1" width="150" alt="Logo">          
                      <img src="/footer/기상청_removebg.png" class="my-1" width="150" alt="Logo" style="height:40px;">                         
                      <img src="/footer/import-black.png" class="my-1" width="150" alt="Logo" style="height:30px;">                 
                      <img src="/footer/kakao.png" class="my-1" width="150"   alt="Logo" style="height:30px;"> 
                </div>
            </div>
        </div>
    </footer>
</body>
</html>