<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src='https://code.jquery.com/jquery-3.6.3.min.js'></script>
<script type="text/javascript">
$(function(){
	$("#id").val(sessionStorage.getItem("MyId"));
	$("#btn_submit").click(function(event){
		var p1 = $('#pwd').val();
      	var p2 = $('#pwd_chk').val();
      	console.log(p1);
      	console.log(p2);
      	if( p1 != p2 ) {
       	 alert("비밀번호가 일치 하지 않습니다");
        	return false;
      	} else{
       		$("#form").submit();
       		alert("변경완료");
       		return true;
      
      	}
			

	});
})
</script>
</head>
<body>
<h1>비밀번호를 변경해주세요</h1>
<form action="/member/changePwd" method="post" id="form">
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
	<input type="text" name="id" id="id" th:value="${id}">
	비밀번호:<input type="password" name='pwd' id='pwd'><br>
	비밀번호확인:<input type='password' id='pwd_chk'><br>
	<input type="button" id = 'btn_submit' value="변경">
</form>
</body>
</html>