<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>제주다컴</title>
<meta charset="UTF-8">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
<script type="text/javascript">
	$(function(){

		$("#content2").html($("#content1").text());
		$("#content1").css("display","none");
				
		$("#deleteReply").on("click",function(e){
			if(!confirm("삭제하시겠습니까?")){
				e.preventDefault();
			}
		});
		
		
	})

</script>

</head>
<body>
	<div th:insert="/main/header.html" id="headers"></div>
	<h3>제목</h3>
	<div th:text="${inquiryVo.title}"></div>
	
	<h3>아이디</h3>
	<div th:text="${inquiryVo.id}"></div>
	
	<h3>날짜</h3>
	<div th:text="${inquiryVo.inqdate}"></div>

	<h3>카테고리</h3>
	<div th:text="${inquiryVo.category}"></div>

	<h3>내용</h3>
	<span th:text="${inquiryVo.content}" id="content1"></span>
	<div id="content2"></div>
	<hr>
	<th:block th:if="${replyOk==0}">
		<h3>답변 작성</h3>
		<form action="/admin/replyManage" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<textarea rows="10" cols="100" name="content" ></textarea><br>
			<input type="hidden" name="inquiryNo" th:value="${inquiryVo.inquiryNo}">
			<input type="submit" value="등록">
		</form>
	</th:block>
	
	<th:block th:unless="${replyOk==0}">
		<h3>답변 수정</h3>
		<form action="/admin/replyUpdate" method="post">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<textarea rows="10" cols="100" name="content" th:text="${replyVo.content}"></textarea><br>
			<input type="hidden" name="inquiryNo" th:value="${inquiryVo.inquiryNo}">
			<input type="submit" value="수정">
		</form>
		<a id="deleteReply" th:href="@{/admin/replyDelete(no=${inquiryVo.inquiryNo})}">삭제</a>
	</th:block>
	
	<a th:href="@{/admin/inquiryManage}">돌아가기</a>
	
</body>
</html>