<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="attract">
  <!-- attractNo로 검색하기 -->
  <select id="findById" resultType="attractVO" parameterType="java.lang.Integer">
  	SELECT * FROM TBL_ATTRACTION WHERE ATTRACTNO = #{attractNo}
  </select>
  
  <!-- attractNo로 카운트 검색 -->
  <select id="findCountById" resultType="java.lang.Integer" parameterType="java.lang.Integer">
  	SELECT COUNT(*) FROM TBL_ATTRACTION WHERE ATTRACTNO = #{attractNo}
  </select>

  <!-- 카테고리로 검색하기 -->
  <select id="findByCategory" resultType="attractVO" parameterType="java.lang.String">
  	SELECT * FROM (
  	SELECT T.*, ROWNUM RN
  	FROM TBL_ATTRACTION T
  	WHERE CATEGORY LIKE '%${keyword}%'
	)
	WHERE RN BETWEEN ${start} AND ${end}
  </select>
  
  <!-- 카테고리로 카운트 검색 -->
  <select id="findCountByCategory" resultType="java.lang.Integer" parameterType="java.lang.String">
  	SELECT COUNT(*) FROM TBL_ATTRACTION WHERE CATEGORY LIKE '%${keyword}%'
  </select>
  
  <!-- 아무검색어로 검색하기 -->
  <select id="findByAny" resultType="attractVO">
  	SELECT *FROM (
  	SELECT T.*, ROWNUM RN
  	FROM TBL_ATTRACTION T
  	WHERE CATEGORY LIKE '%${keyword}%'
    OR ADDR LIKE '%${keyword}%'
    OR NAME LIKE '%${keyword}%'
	)
	WHERE RN BETWEEN ${start} AND ${end}
  </select>
  
  <!-- 아무검색어로 카운트 검색 -->
  <select id="findCountByAny" resultType="java.lang.Integer" parameterType="java.lang.String">
  	SELECT COUNT(*) FROM TBL_ATTRACTION WHERE CATEGORY LIKE '%${keyword}%' 
  	OR ADDR LIKE '%${keyword}%'
  	OR NAME LIKE '%${keyword}%'
  </select>
  
  <!-- 사진 순서(Orders)대로 가져오기  -->
  <select id="findAllPhotoById" resultType="attractVO" parameterType="java.lang.Integer">
  	SELECT 
  	A.ATTRACTNO, A.NAME, A.ADDR, A.PHONE, A.CATEGORY, 
  	P.APNO, P.PATH, P.ORDERS
  	FROM TBL_ATTRACTION A, TBL_ATTRACTPHOTO P
  	WHERE A.ATTRACTNO = P.ATTRACTNO AND A.ATTRACTNO = #{attractNo}
  	ORDER BY P.ORDERS
  </select>
  
</mapper>

