<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="like">
  <!-- 찜 많은 순서로 정렬 -->
  <select id="findMostLike" resultType="likeVO" parameterType="java.lang.Integer">
  	SELECT refNo FROM TBL_LIKE WHERE category = 'attract' GROUP BY refNo ORDER BY COUNT(*) DESC FETCH FIRST #{count} ROWS ONLY
  </select>
  
  <!-- 로그인 유저 찜 확인하기 -->
  <select id="findLikeByM" resultType="likeVO">
  	SELECT refNo FROM TBL_LIKE WHERE category = 'attract' AND memberNo = #{memberNo} AND refNo = #{attractNo}
  </select>
  
  <!-- 찜하기 SEQ_LIKENO -->
  <insert id="doLike" parameterType="likeVO">
  	INSERT INTO TBL_LIKE(LIKENO, MEMBERNO, CATEGORY, REFNO) VALUES(#{likeNo}, #{memberNo}, #{category}, #{refNo})
  </insert>
  
  <!-- 찜해제 -->
  <delete id="unLike" parameterType="likeVO">
  	DELETE TBL_LIKE WHERE MEMBERNO = #{memberNo} AND CATEGORY = #{category} AND REFNO = #{refNo}
  </delete>
</mapper>

