<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="like">
  <!-- 찜 많은 순서로 정렬 -->
  <select id="findMostLike" resultType="likeVO" parameterType="java.lang.Integer">
  	SELECT refNo FROM TBL_LIKE WHERE category = 'attract' GROUP BY refNo ORDER BY COUNT(*) DESC FETCH FIRST #{count} ROWS ONLY
  </select>
</mapper>

