<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<!-- iamport.payment.js -->
<script type="text/javascript">
	$(function(){
		var accommoNo = $("#accommoNo").val();
		
		$("#btn_save").click(function(){ 
			$("#updateF").trigger("submit");
		})
		
		$("#btn_delete").click(function(){
			if(confirm("정말로 삭제하시겠습니까?")){
				location.href="/admin/accommo/delete/"+accommoNo;
			}
		})
		
		$("[class=input_photo]").on("change", function(){
			var inputNo = $(this).attr("inputNo")
			var fileValue = $(this).val().split("\\");
			var fileName = fileValue[fileValue.length-1];
			console.log(fileName);
			$("[name=newpath]").eq(inputNo).val(fileName);
			var tmpPath = URL.createObjectURL(event.target.files[0]);
			$("[class=original_photo]").eq(inputNo).attr("src",tmpPath);
		})
		
		$("#save_img").click(function(){
			$("#form_img").trigger("submit");
			/* if($("[name=uploadFile]").eq(0).val() == ""){
				alert("새로운 파일 지정 안됨")
			}else{
				if($("[name=uploadFile]").eq(1).val() == ""){
					alert("새로운 파일 지정 안됨")
				}else{
					if($("[name=uploadFile]").eq(2).val() == ""){
						alert("새로운 파일 지정 안됨")
					}else{
						if($("[name=uploadFile]").eq(3).val() == ""){
							alert("새로운 파일 지정 안됨")
						}else{
							if($("[name=uploadFile]").eq(4).val() == ""){
								alert("새로운 파일 지정 안됨")
							}else{
								$("#form_img").trigger("submit");
							}
						}
					}
				}
			} */
		})
		
	})
	
	function update(){
		  var queryString = document.location.search.replace('?','');
          var parameters = queryString.split('&');
          for (i=0; i<parameters.length; i++)
          {
              if (parameters[i].substring(0,7) == 'update=')
              {
                  if(parameters[i].replace('update=','') == 'yes')
                  {
                      alert('변경 완료');
                      return;
                  }
              }
          }
	}
</script>
</head>
<body onload="update()">
	<h2>숙소 상세</h2>
	
	<h2 th:text="${r.name}" id="name"></h2>
	<h3 th:text="${r.category}"></h3>
	
	<!-- 정보 -->
	<div >
		<h3>숙소 소개</h3>
		<h4>주소</h4>
		<h5 th:text="${r.addr}"></h5>
		<h4>전화</h4>
		<h5 th:text="${r.phone}"></h5>
		
	</div>
	
	<!-- 사진 -->
	
	<form action="/admin/restau/imgUpdate" method="post" id="form_img" enctype="multipart/form-data">
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
		<th:block th:each="p: ${photoList}">
			<div style="float: left; margin-left: 10px">
				<img alt="" th:src="|/${p.realPath}|" width="350" height="350" 
				th:imgNo="${p.orders}" class="original_photo"><br>
				<input type="file" accept=".jpeg, .jpg, .png" class="input_photo" th:inputNo="${p.orders}" name="uploadFile">
				<input type="hidden" name="path" th:value="${p.path}">
				<input type="hidden" name="newpath" id="newpath" value="unchanged">
				<input type="hidden" name="orders" th:value="${p.orders}">
			</div>
		</th:block>
		<input type="hidden" name="restauNo" th:value="${r.restauNo}">
		<input type="button" value="변경사항 저장" id="save_img">
	</form>
	
	<br>
	<br>
	
	<!-- 수정 폼 태그 -->
	<div style="clear: left">
		<hr>
		<form action="/admin/restau/updateSubmit" method="post" id="updateF">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<input type="number" name=restauNo th:value="${r.restauNo}" id="restauNo" readonly="readonly">
			주소: <input type="text" name="addr" th:value="${r.addr}">
			전화: <input type="text" name="phone" th:value="${r.phone}">
		</form>
	</div>
	
	<!-- 관리자 기능 -->
	<div >
		<th:block th:unless="${session.loginM.role != 'admin'}">
			<span th:text="${session.loginM.role}"></span><br>
			<input type="button" id="btn_save" value="숙소 정보 저장">
			<input type="button" id="btn_delete" value="숙소 삭제">
		</th:block>
	</div>
</body>
</html>